<section class="footer py-5 text-center">
  <div class="container">
    <div class="row pb-5">
      <div class="col-lg-4">
        <h4>LOCATION</h4>
        <p>
          2215 John Daniel Drive
          <br />
          Clark, MO 65243
        </p>
      </div>

      <div class="col-lg-4 mb-3">
        <h4 class="mb-4 ">AROUND THE WEB</h4>
<a class="btn btn-outline-light btn-social mx-1" href="#!">
    <i class="fa-brands fa-facebook-f"></i></a>
<a class="btn btn-outline-light btn-social mx-1" href="#!">
    <i class="fa-brands fa-twitter"></i>
</a>
<a class="btn btn-outline-light btn-social mx-1" href="#!">
    <i class="fa-brands fa-linkedin-in"></i>
</a>
<a class="btn btn-outline-light btn-social mx-1" href="#!">
    <i class="fa-brands fa-whatsapp"></i>
</a>
      </div>

      <div class="col-lg-4">
        <h4>ABOUT FREELANCER</h4>
        <p>
          Freelance is a free to use, MIT licensed Bootstrap theme created by
          Route
        </p>
      </div>
    </div>
  </div>
</section>


<section class="footerCopy py-4">

    <div class="container text-center">
        <small class=" text-white pt-2">Copyright &#169; Your Website 2022 - Ahmed Samir Sakr 💙</small>
    </div>

</section>
