<section class="about">
 <div class="container pt-5">
    <h2 class="pt-5">ABOUT </h2>
    <div class="lines pb-5">
        <div class="line"></div>
       <div class="lineIcon mx-3 fs-3"><i class="fa-solid fa-star"></i></div>
       <div class="line"></div>
    </div>
    <div class="row pb-5">
    
        <div class="col-lg-4 ms-lg-auto">
            <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.

            </p>
        </div>
        <div class="col-lg-4  me-lg-auto">
         <p>You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!

        </p>
        </div>
    </div>
 </div>
</section>
